{% extends "base.html" %} 

{% block body_block %}

<div class="page-header">
	<h1>Login</h1>
</div>

<link href="http://getbootstrap.com/examples/signin/signin.css"
	rel="stylesheet">

<form class="form-signin" role="form" method="post" action=".">
	{% csrf_token %}

	<h2 class="form-signin-heading">Sign in:</h2>
	<input class="form-control" placeholder="Username" id="id_username"
		maxlength="254" name="username" type="text" required autofocus="" /> <br/>
	<input type="password" class="form-control" placeholder="Password"
		id="id_password" name="password" type="password" required />

	<button class="btn btn-lg btn-primary btn-block" type="submit"
		value="Submit" /> Sign in </button>
		
	<br/><p>Not a member? <a href="{% url 'registration_register' %}">Register here!</a></p>
</form>

{% endblock %}
