{% extends 'base.html' %}

{% block title %}Add category{% endblock %}

{% block body_block %}
<div class="page-header">
	<h1>Add a category</h1>
</div>

<form role="form"  id="category_form" method="post" action="{% url 'add_category' %}">

    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    {% for field in form.visible_fields %}
        {{ field.errors }}
        {{ field.help_text }}<br/>
        {{ field }}<br/>
    {% endfor %}
	<br/>
    <button class="btn btn-primary" type="submit" name="submit">Create Category</button>
</form>

{% endblock %}