<!DOCTYPE html>
<html>

    {% load staticfiles %}

    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>{{ category_name }}</h1>
        {% if category %}
            {% if user.is_authenticated %}
                <a href="/rango/category/{{ category_slug }}/add_page/"><strong>Add a page to this category!</strong></a><br/>
            {% endif %}
            {% if pages %}
            <ul>
                {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
                <strong>No pages currently in category.</strong>
            {% endif %}
        {% else %}
            The specified category {{ category_name }} does not exist!<br/>
            Did you look at the right place?<br/>
            <a href="/rango/">Click to go back to the Home page!</a><br />
            <img src="{% static "images/rango_cat_not_found.jpg" %}" alt="Picture of Rango" />
        {% endif %}
    </body>
</html>