{% extends 'base.html' %} 

{% load staticfiles %} 

{% block title%} Index {% endblock %} 

{% block body_block %} 

<div class="page-header">
{% if user.is_authenticated %}
	<h1>Rango says... hello {{ user.username }}!</h1>
{% else %}
	<h1>Rango says... hello world!</h1>
{% endif %}
</div>

<div class="row placeholders">
	<div class="col-xs-12 col-sm-6 placeholder">
		<div class="panel panel-primary">
    		<div class="panel-heading">
				<h3>Categories</h3>
			</div>
		</div>
		{% if categories %}
		<ul class="list-group">
			{% for category in categories %}
				<li class="list-group-item"><a href="{% url 'category'  category.slug %}">{{ category.name }}</a>
				{% if category.likes > 1 %}
           			({{ category.likes }} likes)
           		{% elif category.likes == 1 %}
           			({{ category.likes }} like)
   				{% endif %}
				</li> 
			{% endfor %}
		</ul>
		{% else %} <strong>There are no categories present.</strong> {% endif %}

	</div>
	<div class="col-xs-12 col-sm-6 placeholder">
		<div class="panel panel-primary">
    		<div class="panel-heading">
					<h3>Pages</h3>
			</div>
		</div>
		{% if pages %}
		<ul class="list-group">
			{% for page in pages %}
				<li class="list-group-item">
				<a href="{% url 'goto' %}?page_id={{page.id}}">{{ page.title }}</a>
				{% if page.views > 1 %}
           			({{ page.views }} views)
           		{% elif page.views == 1 %}
           			({{ page.views }} view)
   				{% endif %}
				</li> 
			{% endfor %}
		</ul>
		{% else %} <strong>There are no categories present.</strong> {% endif %}
	</div>

</div>

<p>Visits: {{ visits }}</p>
{% endblock %}
